/* ________________Advantages________________ */

.advantages {
  &__wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.17);
  }

  &__list {
    margin-top: -30px;
    @media screen and (min-width: 768px) {
      & {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
      }
    }
  }
  &__item {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      & {
        width: calc(50% - 30px);

        margin-left: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      & {
        width: calc(25% - 30px);
      }
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
      & {
        text-align: left;
      }
    }
  }

  &__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);

    height: 75px;
  }
}
