/* ___________footer____________ */

.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &__container {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      gap: 70px;
    }
  }

  &__left {
    text-align: center;
    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  &__addres {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-top: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
  }

  &__list a {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer__list .footer__address {
  color: var(--primary-background-color);
}

.footer__list a:hover,
.footer__list a:focus {
  color: var(--accent-color);
}

.footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* __________присоединяйтесь_________  */

.join {
  align-items: center;

  @media (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__title {
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 20px;

    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  &__item {
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: var(--secondary-background-color);
  }
}

/*____________________ Подпишитесь на рассылку____________________ */

.mail-chimp {
  @media (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1200px) {
    width: auto;
  }
  @media (max-width: 1199px) {
    margin-top: 60px;
  }

  &__input {
    width: 100%;
    height: 50px;
    left: 815px;
    top: 2787px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    margin-right: 12px;
    color: white;
    padding-left: 16px;
    @media (min-width: 1200px) {
      margin-bottom: 0px;
      min-width: 358px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: white;
    border-style: none;
    min-width: 200px;
    min-height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  &__icon-send {
    fill: var(--primary-background-color);
    padding-left: 10px;
  }

  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
