.header {
  border-bottom: 1px solid #ececec;

  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #fff; */

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.logo-link {
  padding: 16px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__link--curent {
    color: var(--accent-color);
  }
}

.contacts {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    display: flex;
    align-content: center;
    gap: 50px;
  }

  &__item {
    padding: 5px;
  }

  &__link {
    display: flex;
    align-items: center;

    color: var(--text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    column-gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }

    @media (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__icon {
    margin: 0;
    padding: 0;

    fill: var(--text-color);
  }
}

.logo-accent {
  color: var(--accent-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

/* ________________подчеркивание раздела меню________________ */

.menu {
  &__item {
    position: relative;
  }
  &__link::after {
    content: '';
    position: absolute;

    left: 0px;
    right: 0px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;

    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    transform-origin: top left;

    @media (min-width: 768px) {
      bottom: -2px;
    }
    @media (min-width: 1200px) {
      bottom: -9px;
    }
  }

  &__link--curent::after {
    opacity: 1;
    transform: scaleX(1);
  }

  &__link:hover::after {
    opacity: 1;
    transform: scaleX(1);
    background: var(--accent-color);
  }
}

/* Гамбургер */

.humburger {
  width: 40px;
  height: 40px;
  position: relative;
  user-select: none;
  left: 3px;
  z-index: 5500;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10px);
    background: #212121;
    position: absolute;
    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 8px);
    background: #212121;
    position: absolute;
    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .humburger__line {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    position: absolute;
    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    &:after,
    &:before,
    .humburger__line {
      background-color: var(--accent-color);
    }
  }
  &.is-active {
    .humburger__line {
      transform: translate(-50%, -50%) rotate(180deg);
      opacity: 0;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.js-menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transform: translateX(-110%);
  background: #fff;
  padding: 48px 20px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-width: 480px) {
    padding: 48px 40px;
  }
}
.js-menu-container.is-open {
  transform: translateX(0%);
}
.mobile-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-width: 480px) {
    font-size: 40px;
  }
}
.mobile-nav__link--current {
  color: var(--accent-color);
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.js-menu-container__flex {
  min-height: 100%;
  display: flex;
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.js-menu-container__bot {
  margin-top: auto;
  padding-top: 60px;
}
.mobile-contacts__phone {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media (min-width: 480px) {
    font-size: 34px;
  }
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-contacts {
  margin-bottom: 64px;
  padding: 0;
}
.mobile-socials {
  display: flex;
  padding: 0;
}
.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media (min-width: 374px) {
    font-size: 16px;
  }
  @media (min-width: 480px) {
    font-size: 18px;
  }
}
