/*____________________ Подпишитесь на рассылку____________________ */

.mail-chimp {
	margin-left: auto;

	&__input {
		min-width: 358px;
		height: 50px;
		left: 815px;
		top: 2787px;

		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		background: #2f303a;
		margin-right: 12px;
		color: white;
		padding-left: 16px;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		color: white;
		border-style: none;
		width: 200px;
		height: 50px;
		background: #2196f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		cursor: pointer;
	}
	&__icon-send {
		fill: var(--primary-background-color);
		padding-left: 10px;
	}
}
