/* ________________What we do________________  */

.wwd {
	padding-top: 0;

	&__list {
		display: flex;
		flex-wrap: wrap;
		/* margin-top: 50px; */
		position: relative;
	}

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: #ffffff;
	}
}

.text-box {
	position: absolute;
	display: flex;
	background: rgba(47, 48, 58, 0.8);

	width: 370px;
	height: 70px;
	align-items: center;
	justify-content: center;
	bottom: 0;
}
