.check {
  display: flex;

  margin-top: 10px;
  cursor: pointer;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .checkbox:checked {
	width: 50px;
	height: 50px;
} */
.form-icon {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: transform 250ms linear;
}
.checkbox:checked + .form-icon {
  transform: scale(1.2);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
.form-link {
  text-decoration: underline;

  color: #2196f3;
}
