.form {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    text-align: center;

    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    letter-spacing: 0.03em;

    color: #212121;
  }
}

.form-field {
  /* outline: 1px solid blue; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #757575;
  }
  &__input {
    position: relative;

    padding-left: 41px;

    width: 100%;
    outline: transparent;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: #2196f3;
    }
  }
  &__inner {
    position: relative;
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: #2196f3;
    }
  }

  &__icon {
    position: absolute;
    z-index: 344;
    top: 11px;
    left: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.textarea {
  resize: none;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
